### Q1
List the basic data types in python and give one example each.

1) Integer, e.g. 45
2) String, e.g. "basic"
3) Float, e.g. 21.6
4) Boolean, e.g. True

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [3]:
x = 4539.85
y = str(x)
print(type(y))
z = int(x)
print(type(z))

<class 'str'>
<class 'int'>

### Q3

What data type would you use to store

a. The price of car?

b. The age of a person

c. car plate number: plateNumber = "AV01-AFP"?

d. The price of fuel

e. The number of students in the class

f. The weight of a person

g. Check whether two figures are equal

i. The name of a  school

j. The average result of the overall score of a student

k. The total number of vote cast

a. The price of car : Float

b. The age of a person : Integer

c. car plate number: plateNumber = "AV01-AFP" : String

d. The price of fuel : Float

e. The number of students in the class : Integer

f. The weight of a person : Float

g. Check whether two figures are equal : Boolean

i. The name of a  school : String

j. The average result of the overall score of a student : Float

k. The total number of vote cast : Integer

### Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

- **What is the length of statment 1?**
-**What is the length of statment 2?**
-**Is the length of statement 1 greater than statement 2**

In [60]:
statement = "Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team"
print(statement.split('.'))
statement_1 = "Thomas Partey is arguably the best player in the Black Stars"
statement_2 = "He is a great addition to the team"
StateLength1 = len(statement_1)
print(StateLength1)
StateLength2 = len(statement_2)
print(StateLength2)
print(StateLength1 > StateLength2)

['Thomas Partey is arguably the best player in the Black Stars', ' He is a great addition to the team']
60
34
True

### Q5
What values does python use to represent **True** and **False** respectively?

True = 1
False = 0

### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [76]:
one = "78 is greater than 46 and less than 30 which is an odd number."
ans1 = eval(input(one))
print(ans1)
two = "8-2 is an even number or 8 is a is an odd number."
ans2 = eval(input(two))
print(ans2)
three = "The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6."
ans3 = eval(input(three))
print(ans3)

78 is greater than 46 and less than 30 which is an odd number. 78>46 and 78<30

False

8-2 is an even number or 8 is a is an odd number. (8-2)%2==0 or 8%2==0

True

The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6. len("boostrap")==7 and len("sample")==6

False

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

In [41]:
word = "Hello, How are you?"
print(word[7:11])
print(word[7:18])
print(word[11:15])
print(word[-1])
print(word[0:18])

How
How are you
are
?
Hello, How are you

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

In [39]:
sentence = "I am very excited"
print(sentence.upper())
print(sentence.lower())
print(sentence.title())
print(sentence.split())

I AM VERY EXCITED
i am very excited
I Am Very Excited
['I', 'am', 'very', 'excited']

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

In [29]:
word = "OneThirtyEight"
print(word[0:3])
print(word[3:9])
print(word[-5:])
print(word[0:9])
print(word[-11:])
print(word.upper())

One
Thirty
Eight
OneThirty
ThirtyEight
ONETHIRTYEIGHT

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

In [37]:
name = "Ault'Kelly"
print(name)

Ault'Kelly